<ng-container *ngIf="(chFiches$ | async) as chFiches">
  <alv-modal (cancelAction)="cancel()"
             (primaryAction)="delete()"
             [showPrimaryButton]="!chFiches.length"
             cancelLabel="entity.action.cancel"
             modalTitle="portal.competence-catalog.requirements.delete-modal.title"
             primaryLabel="portal.global.delete-confirm">
    <ng-container *ngIf="chFiches.length; else noReferences">
      <alv-alert [hideDismiss]="true"
                 [notification]="warning">
      </alv-alert>
      <alv-interactive-list-item (itemClick)="itemClicked(chFiche)"
                                 *ngFor="let chFiche of chFiches"
                                 [isItemClickable]="true"
                                 [multiLanguageTitle]="chFiche.title"
                                 [superTitle]="chFiche.id"
                                 [type]="'portal.competence-catalog.ch-fiches.type' | translate">
      </alv-interactive-list-item>
    </ng-container>
    <ng-template #noReferences>
        <span [attr.data-test]="'no-backlinks-placeholder'"
              [innerHTML]="'portal.competence-catalog.requirements.delete-modal.confirmation' | translate:{requirementId: prerequisite}"></span>
    </ng-template>
  </alv-modal>
</ng-container>
