### build output ###
*/target/**

### mvn wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gtm/
/alv-portal-ui/pipeline-scripts/from_code/
/alv-portal-ui/pipeline-scripts/from_csv/
/alv-portal-ui/reports/documentation/
/alv-portal-ui/src/assets/
/alv-portal-ui/cypress.json
/alv-portal-ui/documentation/
