<ng-container *ngIf="{
        competenceElementsActions: competenceElementsActions$ | async,
        isCompetenceCatalogEditor: isCompetenceCatalogEditor$ | async
      } as observables">
  <div class="position-relative">
    <button (click)="toggle()"
            [attr.aria-controls]="competenceSet.id"
            [attr.aria-expanded]="!isCollapsed"
            [class.collapsed]="isCollapsed"
            class="title-bar btn d-flex align-items-center w-100"
            tabindex="-1"
            type="button">
      <fa-icon [icon]="['fas', isCollapsed ? 'chevron-down' : 'chevron-up']"
               class="collapse-icon"></fa-icon>
      <span class="mx-3">{{ 'portal.competence-catalog.competence-sets.overview.competence-set-panel-header' | translate }}</span>
      <span class="mx-3">{{ competenceSet.id }}</span>
      <ng-container *ngIf="observables.isCompetenceCatalogEditor && showStatuses">
        <span>{{isPublished | booleanToText:
            'portal.competence-catalog.publication-statuses.published':
            'portal.competence-catalog.publication-statuses.not-published' | translate}}</span>
        &nbsp;&&nbsp;
        <span>{{isDraft | booleanToText:
            'portal.competence-catalog.draft-statuses.draft':
            'portal.competence-catalog.draft-statuses.not-draft' | translate}}</span>
      </ng-container>
      <span class="flex-grow-1"></span>
    </button>
    <div *ngIf="showActionButtons"
         class="action-buttons">
      <button (click)="actionClick.emit(action.name)"
              *ngFor="let action of actions"
              [ngbTooltip]="action.label | translate"
              class="btn btn-icon-sm light ml-1"
              container="body"
              placement="top">
        <fa-icon [icon]="action.icon"></fa-icon>
      </button>
    </div>
  </div>

  <alv-interactive-list-item (actionClick)="handleKnowHowActionClick($event, competenceSet.knowHow)"
                             (itemClick)=" viewCompetenceElementModal(competenceSet.knowHow) "
                             *ngIf="competenceSet.knowHow; else knowHowPlaceholder"
                             [actions]="observables.competenceElementsActions"
                             [isItemClickable]="true"
                             [isDraft]="competenceSet.knowHow.draft"
                             [isPublished]="competenceSet.knowHow.published"
                             [showStatuses]="true"
                             [multiLanguageTitle]="competenceSet.knowHow.description"
                             [showActionButtons]="true"
                             [superTitle]="competenceSet.knowHow.id"
                             [type]="'portal.competence-catalog.element-type.' + competenceSet.knowHow.type | translate">
  </alv-interactive-list-item>
  <ng-template #knowHowPlaceholder>
    <alv-competence-item-placeholder (clickHandler)="addKnowHow()"
                                     [icon]="['fas', 'search-plus']"
                                     [mainText]="'portal.competence-catalog.element-type.KNOW_HOW' | translate"
                                     [showErrors]="showErrors">
    </alv-competence-item-placeholder>
  </ng-template>


  <div [@expandCollapse]="isCollapsed ? 'closed' : 'open'"
       [alvCollapse]="isCollapsed"
       [id]="competenceSet.id"
       class="panel-content">

    <alv-competence-items-collapse-panel (actionClick)="addCompetenceElement(subElementType)"
                                         *ngFor="let subElementType of subElementTypes"
                                         [actions]="[linkElementAction]"
                                         [id]="competenceSet.id"
                                         [isCollapsed]="collapsed[subElementType]"
                                         [isEmpty]="!getElementsByType(subElementType)?.length"
                                         [label]="'portal.competence-catalog.element-type.' + subElementType"
                                         [showActionButtons]="!isReadonly && !isInnerElementsReadonly">
      <alv-interactive-list-item (actionClick)="handleSubElementsActionClick($event, element)"
                                 (itemClick)="viewCompetenceElementModal(element)"
                                 *ngFor="let element of getElementsByType(subElementType)"
                                 [actions]="observables.competenceElementsActions"
                                 [isItemClickable]="true"
                                 [isDraft]="element.draft"
                                 [isPublished]="element.published"
                                 [showStatuses]="true"
                                 [multiLanguageTitle]="element.description"
                                 [showActionButtons]="true"
                                 [superTitle]="element.id"
                                 [type]="'portal.competence-catalog.element-type.' + subElementType | translate">
      </alv-interactive-list-item>
    </alv-competence-items-collapse-panel>

  </div>
</ng-container>
