<alv-modal (cancelAction)="cancel()"
           (primaryAction)="submit()"
           [cancelLabel]="isReadonly ? 'entity.action.back' : 'portal.global.cancel'"
           [showPrimaryButton]="!isReadonly"
           [modalTitle]="modalTitle"
           primaryLabel="portal.global.save"
           [formGroup]="form">

  <fieldset>
    <legend *ngIf="!isEdit">{{'portal.competence-catalog.competence-elements.add-modal.what-to-enter-label' | translate}}</legend>
    <alv-select alvFormControlName="type"
                label="portal.competence-catalog.competence-elements.add-modal.type"
                [autofocus]="true"
                [readonly]="isEdit"
                [options$]="typeOptions$">
    </alv-select>
  </fieldset>

  <fieldset formGroupName="description">
    <legend>{{'portal.competence-catalog.competence-elements.add-modal.one-component-per-lang-label' | translate}}</legend>
    <ng-container *ngFor="let formField of ['de','fr','it','en']">
      <alv-input-field label="portal.competence-catalog.competence-elements.add-modal.title-{{formField}}"
                       [alvFormControlName]="formField"
                       [attr.data-test]="formField+'-description-input'"
                       [multiline]="true"
                       [readonly]="isReadonly"
                       [multilineMinRows]="1"
                       [showGroupErrors]="true"
                       [validationMessages]="[{ error: 'atLeastOneRequired', message: 'global.common-phrases.at-least-one-required' }]"
      >
      </alv-input-field>
    </ng-container>
  </fieldset>
  <ng-container *ngIf="isCompetenceCatalogEditor$|async">
    <h4>{{'portal.competence-catalog.publication-status' | translate}}</h4>
    <alv-radio-button [options$]="publishedRadioButtonOptions$"
                      [readonly]="isReadonly"
                      alvFormControlName="published"
    ></alv-radio-button>
    <h4>{{'portal.competence-catalog.draft-status' | translate}}</h4>
    <alv-radio-button [options$]="draftRadioButtonOptions$"
                      [readonly]="isReadonly"
                      alvFormControlName="draft"
    ></alv-radio-button>
    <alv-checkbox *ngIf="!isReadonly && !isEdit"
                  [alvControl]="createAnotherFormControl"
    >{{'entity.action.create-another' | translate}}</alv-checkbox>
  </ng-container>


</alv-modal>
