<a [routerLink]="baseRouterLink"
   [queryParams]="{'search-profile-id': searchProfile.id}"
   class="profile-item d-flex align-items-center position-relative py-2 px-3">
  <div class="hover-indicator"></div>
  <div class="profile-name text-truncate">
    {{searchProfile.name}}
  </div>
  <div class="flex-grow-1"></div>
  <button *ngIf="!searchProfile.jobAlertDto?.email && baseRouterLink == '/job-search'"
    class="btn btn-toggle-icon"
          (click)="togglingJobAlert($event)"
          [attr.title]="'portal.job-ad-search-profiles.job-alert.enable-button' | translate">
    <fa-icon [fixedWidth]="true"
             [icon]="['far', 'envelope']"></fa-icon>
  </button>
  <button *ngIf="searchProfile.jobAlertDto?.email && baseRouterLink == '/job-search'"
          class="btn btn-toggle-icon"
          (click)="togglingJobAlert($event)"
          [attr.title]="'portal.job-ad-search-profiles.job-alert.disable-button' | translate">
    <fa-icon [fixedWidth]="true"
             [icon]="['fas', 'envelope']"></fa-icon>
  </button>
  <button class="btn btn-toggle-icon"
          (click)="deleteProfile($event)"
          [attr.title]="'portal.job-ad-search-profiles.label.delete-profile' | translate">
    <fa-icon [fixedWidth]="true"
             [icon]="['fas', 'trash-alt']"></fa-icon>
  </button>
</a>
