<alv-modal (cancelAction)="cancel()"
           (primaryAction)="filter()"
           [formGroup]="form"
           cancelLabel="entity.action.cancel"
           modalTitle="portal.work-efforts.filter-modal.title"
           primaryLabel="entity.action.ok">
  <fieldset>
    <alv-select
      [alvControl]="form.get('controlPeriod')"
      [options$]="controlPeriodOptions$"
      label="portal.work-efforts.filter-modal.control-period.label">
    </alv-select>
    <alv-select
      [alvControl]="form.get('applyStatus')"
      [options$]="applyStatusOptions$"
      label="portal.work-efforts.filter-modal.apply-status.label">
    </alv-select>
  </fieldset>
</alv-modal>
