<ng-container *ngIf="{
    competenceSetsActions: competenceSetsActions$ | async,
    chFicheDescriptionActions: chFicheDescriptionActions$ | async,
    isCompetenceCatalogEditor: isCompetenceCatalogEditor$ | async,
    prerequisiteActions: prerequisiteActions$ | async,
    workEnvironmentActions: workEnvironmentActions$ | async,
    softskillActions: softskillActions$ | async

  } as observables">
  <!--   Title-->
  <div class="mb-2">
    <alv-interactive-list-item (itemClick)="editFicheName(isReadonly)"
                               *ngIf="chFiche.title; else noTitle"
                               [isItemClickable]="true"
                               [multiLanguageTitle]="chFiche.title"
                               [showActionButtons]="false"
                               [superTitle]="chFiche.id || ''"
                               [type]="'portal.competence-catalog.ch-fiches.type'  | translate">

    </alv-interactive-list-item>
    <ng-template #noTitle>
      <alv-competence-item-placeholder (clickHandler)="editFicheName(isReadonly)"
                                       [customIcon]="observables.isCompetenceCatalogEditor ? IconKey.EDIT_PLUS : null"
                                       [customTooltip]="'portal.competence-catalog.ch-fiches.add-modal.tooltip'"
                                       [mainText]="'portal.competence-catalog.ch-fiches.type'  | translate"
                                       [showErrors]="showErrors"
      >
      </alv-competence-item-placeholder>

    </ng-template>
  </div>
  <!--   Description-->
  <alv-interactive-list-item (itemClick)="editFicheDescription(isReadonly)"
                             *ngIf="chFiche.description; else noDescription"
                             [isItemClickable]="true"
                             (actionClick)="handleDescriptionActionClick($event)"
                             [actions]="observables.chFicheDescriptionActions"
                             [multiLanguageTitle]="chFiche.description"
                             [showActionButtons]="observables.isCompetenceCatalogEditor"
                             titleClass="font-weight-normal">

  </alv-interactive-list-item>
  <ng-template #noDescription>
    <alv-competence-item-placeholder (clickHandler)="editFicheDescription(isReadonly)"
                                     [readonly]="isReadonly"
                                     [customIcon]=IconKey.EDIT_PLUS
                                     [customTooltip]="'portal.competence-catalog.ch-fiches.add-modal.tooltip'"
                                     [mainText]="'portal.competence-catalog.ch-fiches.no-description-placeholder'  | translate"
    >
    </alv-competence-item-placeholder>
  </ng-template>

  <!--Occupations-->
  <alv-competence-items-collapse-panel label="portal.competence-catalog.ch-fiches.label.occupations"
                                       class="d-block mt-2"
                                       [id]="chFiche.id"
                                       [isCollapsed]="collapsed.OCCUPATIONS"
                                       [isEmpty]="!chFiche.occupations.length"
                                       [darkMode]="true"
                                       [showActionButtons]="!isReadonly"
                                       [actions]="[linkOccupationAction]"
                                       (actionClick)="handleOccupationActionClick($event)">
    <alv-interactive-list-item (actionClick)="unlinkOccupation(resolvedOccupation)"
                               [type]="'CH-ISCO5 ' + resolvedOccupation.occupation.chIsco5"
                               [superTitle]="'BFS ' + resolvedOccupation.occupation.bfsCode"
                               [multiLanguageTitle]="{
                                 de: resolvedOccupation.labelData.default,
                                 fr: resolvedOccupation.labelData.default,
                                 it: resolvedOccupation.labelData.default,
                                 en: resolvedOccupation.labelData.default
                               }"
                               [isItemClickable]="false"
                               [showActionButtons]="!isReadonly"
                               [actions]="[unlinkCompetenceSetAction]"
                               *ngFor="let resolvedOccupation of resolvedOccupations">
    </alv-interactive-list-item>
  </alv-competence-items-collapse-panel>

  <!--  Related competence sets-->
  <alv-competence-items-collapse-panel *ngFor="let competenceType of competenceTypes"
                                       class="d-block mt-2"
                                       [id]="chFiche.id + competenceType"
                                       [label]="'portal.competence-catalog.ch-fiches.label.' + competenceType"
                                       [showActionButtons]="!isReadonly"
                                       [isCollapsed]="collapsed[competenceType]"
                                       [isEmpty]="!getCompetencesByType(competenceType).length"
                                       [darkMode]="true"
                                       [actions]="[linkCompetenceAction]"
                                       (actionClick)="handleCompetenceSetActionClick($event, competenceType)"
                                       (toggleClick)="toggleCompetences(competenceType, $event)">
    <alv-competence-set *ngFor="let competenceSet of competences[competenceType]; let index = index"
                        [competenceSet]="competenceSet"
                        [actions]="observables.competenceSetsActions"
                        [isDraft]="competenceSet.draft"
                        [isPublished]="competenceSet.published"
                        [showStatuses]="true"
                        [isInnerElementsReadonly]="true"
                        [isReadonly]="isReadonly"
                        [showActionButtons]="!isReadonly"
                        (actionClick)="handleCompetenceSetActionClick($event, competenceType, competenceSet)">
    </alv-competence-set>
  </alv-competence-items-collapse-panel>
  <alv-competence-items-collapse-panel (actionClick)="handlePrerequisiteActionClick($event)"
                                       [darkMode]="true"
                                       [label]="'portal.competence-catalog.ch-fiches.label.prerequisites'"
                                       [showActionButtons]="!isReadonly"
                                       (toggleClick)="togglePrerequisites($event)"
                                       [actions]="[linkPrerequisiteAction]"
                                       [isCollapsed]="collapsed.PREREQUISITES"
                                       [isEmpty]="!chFiche.prerequisiteIds?.length"
                                       class="d-block mt-2"
  >
    <alv-interactive-list-item (actionClick)="handlePrerequisiteActionClick($event, index, prerequisite)"
                               (itemClick)="viewPrerequisite(prerequisite)"
                               *ngFor="let prerequisite of prerequisites; let index = index;"
                               [actions]="observables.prerequisiteActions"
                               [isDraft]="prerequisite.draft"
                               [isPublished]="prerequisite.published"
                               [multiLanguageTitle]="prerequisite.description"
                               [isItemClickable]="true"
                               [superTitle]="prerequisite.id"
                               [showActionButtons]="true"
                               [type]="'portal.competence-catalog.element-type.prerequisite' | translate"
                               >

    </alv-interactive-list-item>
  </alv-competence-items-collapse-panel>
  <alv-competence-items-collapse-panel (actionClick)="handleSoftskillActionClick($event)"
                                       (toggleClick)="toggleSoftskills($event)"
                                       [actions]="[linkSoftskillAction]"
                                       [darkMode]="true"
                                       [isCollapsed]="collapsed.SOFTSKILLS"
                                       [isEmpty]="!chFiche.softskillIds?.length"
                                       [label]="'portal.competence-catalog.ch-fiches.label.softskills'"
                                       [showActionButtons]="!isReadonly"
                                       class="d-block mt-2"
  >
    <alv-interactive-list-item (actionClick)="handleSoftskillActionClick($event, index)"
                               (itemClick)="viewSoftskill(softskill)"
                               *ngFor="let softskill of softskills; let index = index;"
                               [actions]="observables.softskillActions"
                               [isDraft]="softskill.draft"
                               [isItemClickable]="true"
                               [isPublished]="softskill.published"
                               [multiLanguageTitle]="softskill.description"
                               [showActionButtons]="true"
                               [superTitle]="softskill.id"
                               [type]="'portal.competence-catalog.element-type.softskill' | translate">

    </alv-interactive-list-item>
  </alv-competence-items-collapse-panel>

  <alv-competence-items-collapse-panel (toggleClick)="toggleWorkEnvironments($event)"
                                       [darkMode]="true"
                                       [isCollapsed]="collapsed.WORK_ENVIRONMENTS"
                                       [isEmpty]="false"
                                       [label]="'portal.competence-catalog.ch-fiches.label.work-environments'"
                                       [showActionButtons]="!isReadonly"
                                       class="d-block mt-2"
  >


    <alv-competence-items-collapse-panel (actionClick)="openAddWorkEnvironmentModal(workEnvironmentType)"
                                         *ngFor="let workEnvironmentType of workEnvironmentTypes"
                                         [actions]="[linkWorkEnvironmentAction]"
                                         [darkMode]="false"
                                         [isCollapsed]="false"
                                         [isEmpty]="(workEnvironments | filterByKeyValue : {type: workEnvironmentType} ).length===0"
                                         [label]="'portal.competence-catalog.work-environment-type.' + workEnvironmentType"
                                         [showActionButtons]="!isReadonly"
                                         class="d-block mt-1">
      <alv-interactive-list-item (actionClick)="handleWorkEnvironmentActionClick($event, workEnvironment)"
                                 (itemClick)="viewWorkEnvironment(workEnvironment)"
                                 *ngFor="let workEnvironment of workEnvironments | filterByKeyValue : {type: workEnvironmentType} ; let index = index;"
                                 [actions]="observables.workEnvironmentActions"
                                 [isDraft]="workEnvironment.draft"
                                 [isItemClickable]="true"
                                 [isPublished]="workEnvironment.published"
                                 [multiLanguageTitle]="workEnvironment.description"
                                 [showActionButtons]="true"
                                 [superTitle]="workEnvironment.id"
                                 [type]="'portal.competence-catalog.work-environment-type.'+workEnvironment.type | translate">

      </alv-interactive-list-item>

    </alv-competence-items-collapse-panel>

  </alv-competence-items-collapse-panel>
</ng-container>
