<ng-container *ngIf="{
    competenceSetsActions: competenceSetsActions$ | async,
    chFicheDescriptionActions: chFicheDescriptionActions$ | async,
    isCompetenceCatalogEditor: isCompetenceCatalogEditor$ | async,
    prerequisiteActions: prerequisiteActions$ | async
  } as observables">
  <!--   Title-->
  <pre>{{chFiche|json}}</pre>
  <pre>{{prerequisites|json}}</pre>
  <div class="mb-2">
    <alv-interactive-list-item (itemClick)="editFicheName(isReadonly)"
                               *ngIf="chFiche.title; else noTitle"
                               [isItemClickable]="true"
                               [multiLanguageTitle]="chFiche.title"
                               [showActionButtons]="false"
                               [superTitle]="chFiche.id || ''"
                               [type]="'portal.competence-catalog.ch-fiches.type'  | translate">

    </alv-interactive-list-item>
    <ng-template #noTitle>
      <alv-competence-item-placeholder (clickHandler)="editFicheName(isReadonly)"
                                       [customIcon]="observables.isCompetenceCatalogEditor ? IconKey.EDIT_PLUS : null"
                                       [customTooltip]="'portal.competence-catalog.ch-fiches.add-modal.tooltip'"
                                       [mainText]="'portal.competence-catalog.ch-fiches.type'  | translate"
                                       [showErrors]="showErrors"
      >
      </alv-competence-item-placeholder>

    </ng-template>
  </div>
  <!--   Description-->
  <alv-interactive-list-item (itemClick)="editFicheDescription(isReadonly)"
                             *ngIf="chFiche.description; else noDescription"
                             [isItemClickable]="true"
                             (actionClick)="handleDescriptionActionClick($event)"
                             [actions]="observables.chFicheDescriptionActions"
                             [multiLanguageTitle]="chFiche.description"
                             [showActionButtons]="observables.isCompetenceCatalogEditor"
                             titleClass="font-weight-normal">

  </alv-interactive-list-item>
  <ng-template #noDescription>
    <alv-competence-item-placeholder (clickHandler)="editFicheDescription(isReadonly)"
                                     [readonly]="isReadonly"
                                     [customIcon]=IconKey.EDIT_PLUS
                                     [customTooltip]="'portal.competence-catalog.ch-fiches.add-modal.tooltip'"
                                     [mainText]="'portal.competence-catalog.ch-fiches.no-description-placeholder'  | translate"
    >
    </alv-competence-item-placeholder>
  </ng-template>

  <!--Occupations-->
  <alv-competence-items-collapse-panel label="portal.competence-catalog.ch-fiches.label.occupations"
                                       class="d-block mt-2"
                                       [id]="chFiche.id"
                                       [isCollapsed]="collapsed.OCCUPATIONS"
                                       [isEmpty]="!chFiche.occupations.length"
                                       [darkMode]="true"
                                       [showActionButtons]="!isReadonly"
                                       [actions]="[linkOccupationAction]"
                                       (actionClick)="handleOccupationActionClick($event)">
    <alv-interactive-list-item *ngFor="let resolvedOccupation of resolvedOccupations; let index = index"
                               [type]="'CH-ISCO5 ' + resolvedOccupation.occupation.chIsco5"
                               [superTitle]="'BFS ' + resolvedOccupation.occupation.bfsCode"
                               [multiLanguageTitle]="{
                                 de: resolvedOccupation.labelData.default,
                                 fr: resolvedOccupation.labelData.default,
                                 it: resolvedOccupation.labelData.default,
                                 en: resolvedOccupation.labelData.default
                               }"
                               [isItemClickable]="false"
                               [showActionButtons]="!isReadonly"
                               [actions]="[unlinkCompetenceSetAction]"
                               (actionClick)="unlinkOccupation(index)">
    </alv-interactive-list-item>
  </alv-competence-items-collapse-panel>

  <!--  Related competence sets-->
  <alv-competence-items-collapse-panel *ngFor="let competenceType of competenceTypes"
                                       class="d-block mt-2"
                                       [id]="chFiche.id + competenceType"
                                       [label]="'portal.competence-catalog.ch-fiches.label.' + competenceType"
                                       [showActionButtons]="!isReadonly"
                                       [isCollapsed]="collapsed[competenceType]"
                                       [isEmpty]="!getCompetencesByType(competenceType).length"
                                       [darkMode]="true"
                                       [actions]="[linkCompetenceAction]"
                                       (actionClick)="handleCompetenceSetActionClick($event, competenceType)"
                                       (toggleClick)="toggleCompetences(competenceType, $event)">
    <alv-competence-set *ngFor="let competenceSet of competences[competenceType]; let index = index"
                        [competenceSet]="competenceSet"
                        [actions]="observables.competenceSetsActions"
                        [isDraft]="competenceSet.draft"
                        [isPublished]="competenceSet.published"
                        [showStatuses]="true"
                        [isInnerElementsReadonly]="true"
                        [isReadonly]="isReadonly"
                        [showActionButtons]="!isReadonly"
                        (actionClick)="handleCompetenceSetActionClick($event, competenceType, competenceSet)">
    </alv-competence-set>
  </alv-competence-items-collapse-panel>
  <alv-competence-items-collapse-panel (actionClick)="handlePrerequisiteActionClick($event)"
                                       [darkMode]="true"
                                       [label]="'portal.competence-catalog.ch-fiches.label.requirements'"
                                       [showActionButtons]="!isReadonly"
                                       (toggleClick)="togglePrerequisites($event)"
                                       [actions]="[linkPrerequisiteAction]"
                                       [isCollapsed]="collapsed.PREREQUISITES"
                                       [isEmpty]="!chFiche.prerequisiteIds?.length"
                                       class="d-block mt-2"
  >
    <alv-interactive-list-item (actionClick)="handlePrerequisiteActionClick($event, index)"
                               (itemClick)="viewPrerequisite(prerequisite)"
                               *ngFor="let prerequisite of prerequisites; let index = index;"
                               [actions]="observables.prerequisiteActions"
                               [isDraft]="prerequisite.draft"
                               [isPublished]="prerequisite.published"
                               [multiLanguageTitle]="prerequisite.description"
                               [isItemClickable]="true"
                               [superTitle]="prerequisite.id"
                               [showActionButtons]="observables.isCompetenceCatalogEditor"
                               [type]="'portal.competence-catalog.element-type.requirement' | translate"
                               titleClass="font-weight-normal">

    </alv-interactive-list-item>
  </alv-competence-items-collapse-panel>
</ng-container>
