<alv-radio-button [label]="'portal.competence-catalog.publication-status' | translate"
                  [options$]="publishedRadioButtonOptions$"
                  [readonly]="isReadonly || !isEdit || !isPublishable"
                  [alvControl]="published"
></alv-radio-button>
<alv-radio-button [label]="'portal.competence-catalog.draft-status' | translate"
                  [options$]="draftRadioButtonOptions$"
                  [readonly]="isReadonly || !isEdit"
                  [alvControl]="draft"
></alv-radio-button>
