<alv-radio-button [alvControl]="published"
                  [label]="'portal.competence-catalog.publication-status' | translate"
                  [options$]="publishedRadioButtonOptions$"
                  [readonly]="isReadonly || !isEdit"
></alv-radio-button>
<alv-radio-button [alvControl]="draft"
                  [label]="'portal.competence-catalog.draft-status' | translate"
                  [options$]="draftRadioButtonOptions$"
                  [readonly]="isReadonly || !isEdit"
></alv-radio-button>
