<alv-modal (primaryAction)="onEnable(this.form)"
           (secondaryAction)="onDisable()"
           (cancelAction)="onCancel()"
           [formGroup]="form"
           [showSecondaryButton]="false"
           secondaryLabel="test"
           modalTitle="portal.job-ad-search-profiles.job-alert.enable.modal-dialog.title"
           primaryLabel="job-detail.complaint-modal.send"
           cancelLabel="job-detail.complaint-modal.dismiss">
  <alv-alert [hideDismiss]="true"
             [notification]="infoNotification">
    <ul class="pl-3 mb-0">
      <li class="mb-1"
          [innerHTML]="'portal.job-ad-search-profiles.job-alert.enable.modal-dialog.alert.bullet-point-one' | translate"></li>
      <li class="mb-1"
          [innerHTML]="'portal.job-ad-search-profiles.job-alert.enable.modal-dialog.alert.bullet-point-two' | translate"></li>
    </ul>
  </alv-alert>
  <fieldset>
    <p class="mt-3 mb-2"><strong>{{'portal.job-ad-search-profiles.job-alert.enable.modal-dialog.alert.email-title' | translate}}</strong></p>
    <alv-input-field alvFormControlName="email"
                     readonly="true">
    </alv-input-field>
    <alv-radio-button
      [label]="'portal.job-ad-search-profiles.job-alert.enable.modal-dialog.alert.paragraph.interval' | translate"
      alvFormControlName="interval"
      [options$]="jobAlertOptions$">
    </alv-radio-button>
  </fieldset>

</alv-modal>
