<alv-modal (cancelAction)="cancel()"
           (primaryAction)="submit()"
           [cancelLabel]="isReadonly ? 'entity.action.back' : 'portal.global.cancel'"
           [formGroup]="form"
           [modalTitle]="modalTitle"
           [showPrimaryButton]="!isReadonly"
           primaryLabel="portal.global.save">

  <fieldset formGroupName="description">
    <legend>{{'portal.competence-catalog.prerequisites.add-modal.one-component-per-lang-label' | translate}}</legend>
    <ng-container *ngFor="let formField of ['de','fr','it','en']">
      <alv-input-field [alvFormControlName]="formField"
                       [attr.data-test]="formField+'-description-input'"
                       [multilineMinRows]="1"
                       [multiline]="true"
                       [readonly]="isReadonly"
                       [showGroupErrors]="true"
                       [validationMessages]="[{ error: 'atLeastOneRequired', message: 'global.common-phrases.at-least-one-required' }]"
                       label="portal.competence-catalog.prerequisites.add-modal.title-{{formField}}"
      >
      </alv-input-field>
    </ng-container>
  </fieldset>
  <ng-container *ngIf="isCompetenceCatalogEditor$|async">
    <alv-radio-button [options$]="publishedRadioButtonOptions$"
                      [readonly]="isReadonly || !isEdit"
                      [label]="'portal.competence-catalog.publication-status' | translate"
                      alvFormControlName="published"
    ></alv-radio-button>
    <alv-radio-button [options$]="draftRadioButtonOptions$"
                      [readonly]="isReadonly || !isEdit"
                      [label]="'portal.competence-catalog.draft-status' | translate"
                      alvFormControlName="draft"
    ></alv-radio-button>
    <alv-checkbox *ngIf="!isReadonly && !isEdit"
                  [alvControl]="createAnotherFormControl"
    >{{'entity.action.create-another' | translate}}</alv-checkbox>
  </ng-container>


</alv-modal>
