<div class="container-fluid pt-4 pt-lg-5 px-lg-5"
     *ngIf="{isCompetenceCatalogEditor: isCompetenceCatalogEditor$|async} as observables"
>
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-10">
      <div class="d-flex justify-content-between align-items-end position-relative">
        <h2 class="pr-5 mb-4 d-flex">
          <fa-icon [icon]="['far', 'list-alt']"
                   class="text-primary mr-1"
                   [fixedWidth]="true">
          </fa-icon>
          <span *ngIf="observables.isCompetenceCatalogEditor && isEdit">
            {{'portal.competence-catalog.competence-sets.edit.title-edit' | translate}}
          </span>
          <span *ngIf="observables.isCompetenceCatalogEditor && !isEdit">
            {{ 'portal.competence-catalog.competence-sets.edit.title-enter' | translate }}
          </span>
          <span *ngIf="!observables.isCompetenceCatalogEditor">
            {{ 'portal.competence-catalog.competence-sets.edit.title-view' | translate }}
          </span>
        </h2>
      </div>

      <alv-competence-set [competenceSet]="competenceSet"
                          [isCollapsed]="false"
                          (actionClick)="handleCompetenceSetActionClick($event, competenceSet)"
                          [actions]="[backlinkCompetenceSetAction]"
                          [isDraft]="competenceSet.draft"
                          [isPublished]="competenceSet.published"
                          [showStatuses]="true"
                          [showActionButtons]="true"
                          [isReadonly]="!observables.isCompetenceCatalogEditor"
                          [showErrors]="showErrors">
      </alv-competence-set>
    </div>
    <div class="mt-5 d-none d-lg-block col-lg-3 col-xl-2">
      <form *ngIf="observables.isCompetenceCatalogEditor"
            [formGroup]="form">
        <alv-radio-button [options$]="publishedRadioButtonOptions$"
                          alvFormControlName="published"
                          [label]="'portal.competence-catalog.publication-status' | translate"
        ></alv-radio-button>
        <alv-radio-button [options$]="draftRadioButtonOptions$"
                          alvFormControlName="draft"
                          [label]="'portal.competence-catalog.draft-status' | translate"
        ></alv-radio-button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-10">
      <div class="d-flex justify-content-end my-4 w-100">
        <alv-checkbox [alvControl]="createAnotherFormControl"
                      *ngIf="observables.isCompetenceCatalogEditor && !isEdit"
                      class="form-control-plaintext">{{'entity.action.create-another' | translate}}</alv-checkbox>

        <a class="btn btn-text"
           routerLink="../">
          {{(observables.isCompetenceCatalogEditor ? 'portal.global.cancel' : 'entity.action.back') | translate}}
        </a>
        <button class="btn btn-secondary ml-1"
                (click)="deleteCompetenceSet()"
                [attr.data-test]="'delete-button'"
                *ngIf="observables.isCompetenceCatalogEditor && isEdit">
          {{'portal.global.delete' | translate}}
        </button>
        <button class="btn btn-primary ml-1"
                (click)="saveCompetenceSet()"
                [attr.data-test]="'save-button'"
                *ngIf="observables.isCompetenceCatalogEditor">
          {{'portal.global.save' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
